<mat-card>

  <div fxLayoutAlign="space-between center">
    <app-hero-search searchField="nombre" (searchData)="getHeroesByName($event)"></app-hero-search>

    <a class="new-hero" aria-label="Añadir héroe" matTooltip="Añadir héroe" [matTooltipShowDelay]="showDelay.value"
      matTooltipPosition="before" [matTooltipHideDelay]="hideDelay.value" [routerLink]="['new']">
      <img src="https://ssl.gstatic.com/docs/templates/thumbnails/sheets-blank-googlecolors.png" alt="">
    </a>
  </div>

  <mat-list role="list">
    <mat-list-item *ngFor="let hero of displayList;let i=index" role="listitem">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <div class="name" fxFlex>{{hero.name}}</div>
        <div class="realname" fxFlex>{{hero.realname}}</div>
        <div class="team" fxFlex>{{hero.team}}</div>
        <div class="actions" fxFlex=10>
          <button mat-icon-button aria-label="Editar héroe" matTooltip="Editar héroe {{hero.name}}"
            [matTooltipShowDelay]="showDelay.value" matTooltipPosition="left" [matTooltipHideDelay]="hideDelay.value"
            [routerLink]="['edit',hero.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Eliminar héroe" (click)="openDeleteDialog(hero,i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-paginator [length]="heroesList.length" [pageSize]="qtyXPage" (page)='paginate($event)'
    [pageSizeOptions]="quantities" showFirstLastButtons>
  </mat-paginator>

</mat-card>

<div *ngIf="selectedHero">
  {{'Option selected: '+(selectedHero|json)}}
</div>
